{{ form_start(formationForm, {'attr': {'novalidate': 'novalidate'}}) }} 
<div class="contact-form col-lg-12">
     <div class="col-lg-12 text-center text-light">
        {{ form_errors(formationForm) }}
    </div> 
    {{ form(formationForm) }} 
</div>
 {{ form_end(formationForm) }} 