{{ form_start(productForm, {'attr': {'novalidate': 'novalidate'}}) }} 
<div class="contact-form col-lg-12">
     <div class="col-lg-12 text-center text-light">
        {{ form_errors(productForm) }}
    </div> 
    {{ form(productForm) }} 
</div>
 {{ form_end(productForm) }} 