{% extends 'template.html.twig' %}

{% block title %}Mon Site Démo - Payment Error{% endblock %}

{% block body %}

<div class="container mt-5">
 <div>{{error}}</div>
    <div class="alert alert-danger text-center" role="alert">
        <h1 class="display-4">Oups ! Un problème est survenu avec votre paiement.</h1>
        <p class="lead">Nous n'avons pas pu traiter votre paiement. Veuillez vérifier les détails et réessayer.</p>
    </div>
    <div class="text-center mt-4">
        <p>Si le problème persiste, vous pouvez :</p>
        <ul class="list-unstyled">
            <li>- Vérifier les détails de votre paiement.</li>
            <li>- Contacter votre banque ou votre fournisseur de paiement.</li>
            <li>- Essayer une autre méthode de paiement.</li>
        </ul>
        <a href="{{ path('app_payment_retry', { reference : reference }) }}" class="btn btn-primary mt-3">Réessayer le paiement</a>
        <a href="#" class="btn btn-secondary mt-3">Contacter le support</a>
        <a href="{{ path('app_order_modify', { reference : reference }) }}" class="btn btn-info mt-3">Modifier le mode de paiment</a>
    </div>
</div>






{% endblock %}